@model CoffeeShop.Models.LoginModel

@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<p>Welcome @User.Identity.Name!</p>

<p><a href="/Database/ItemList">View a list of your Items</a></p>
