@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coffee Shop</h1>
    <p class="lead"></p>
    <p><a href="/Form/Register" class="btn btn-primary btn-lg">User Registration</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Heading Here</h2>
        <p>Text here</p>
        <p><a class="btn btn-default" href="">Link</a></p>
    </div>
    <div class="col-md-4">
        <h2>Heading Here</h2>
        <p>Text here</p>
        <p><a class="btn btn-default" href="">Link</a></p>
    </div>
    <div class="col-md-4">
        <h2>Heading Here</h2>
        <p>Text here</p>
        <p><a class="btn btn-default" href="">Link</a></p>
    </div>
</div>