
@{
    ViewBag.Title = "Registration Form";
}

<h2>Registration Page</h2>

<form action="/Form/Registration" method="post">
    <label>First Name: </label>
    <input type="text" name="firstName" />
    <br />
    <label>Last Name: </label>
    <input type="text" name="lastName" />
    <br />
    <label>Address: </label>
    <input type="text" name="address" />
    <br />
    <label>Email: </label>
    <input type="text" name="email" />
    <br />
    <label>Phone Number: </label>
    <input type="text" name="phoneNumber" />
    <br />
    <label>Favorite Drink: </label>
    <input type="text" name="favoriteDrink" />
    <br />
    <label>Username: </label>
    <input type="text" name="username" />
    <br />
    <label>Password: </label>
    <input type="text" name="password" />
    <br />
    <input type="submit" value="Save" />
</form>

